html, body {
  font-family: 'Lato', sans-serif;
  color: #333;
	background: url("engagement-photo.jpg") center right/cover no-repeat;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.header {
  font-size: 22px;
  padding-bottom: 20px;
}

.page_container {
	width: 100%;
	height: 100%;
}

.content_box {
	background: white;
	background: rgba(255, 255, 255, 0.95);
}

.welcome_banner {
	margin-top: 400px;
	padding: 24px;	
	text-align: center;
}

.welcome_header {
	font-size: 64px;
	font-weight: 300;
}

.welcome_subline {
	font-size: 16px;
	color: #C2C2C2;
	margin-top: 4px;
}

.welcome_subline:first-of-type {
	margin-top: 12px;
}

.blue_text {
	color: #70B3CD;
}

.wedding_details {
	padding: 48px 20%;
	font-size: 16px;
	line-height: 1.2em;
	margin: 300px 0;
}

.wedding_details p {
	margin-top: 12px;
}