/* --- Generic styles --- */
html, body {
  font-family: 'Lato', sans-serif;
  color: #333;
	background: url("engagement-photo.jpg") center right/cover no-repeat;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.page-container {
	width: 100%;
	height: 100%;
}

.content-box {
	background: white;
	background: rgba(255, 255, 255, 0.95);
}

/* --- Utility classes --- */
.light {
	font-weight: 300;
}

.bold {
	font-weight: 700;
}

.blue-text {
	color: #70B3CD;
}

.cursive {
	font-family: 'Dancing Script', cursive;
}

/* --- Welcome banner styles --- */
.welcome-banner {
	margin-top: 400px;
	padding: 24px;
	text-align: center;
}

.welcome-banner__header {
	font-size: 64px;
}

.welcome-banner__subline {
	font-size: 16px;
	color: #999ea0;
	margin-top: 4px;
}

.welcome-banner__subline:first-of-type {
	margin-top: 12px;
}


/* --- Wedding details --- */
.wedding-details {
	padding: 48px 20%;
	font-size: 16px;
	line-height: 1.2em;
	margin: 300px 0;
}

.wedding-details__header {
	font-size: 32px;
}

.wedding-details__content {
        margin-top: 12px;
        margin-bottom: 30px;
}

/* --- Ceremony details --- */
.ceremony-details__list {
  padding-top: 10px;
}

/* --- Hotels list --- */
.hotels-list {
  list-style-type: disc;
  padding: 10px 0px 20px 20px;
}

.hotels-list__sublist {
  list-style-type: circle;
  padding-left: 30px;
}

/* --- Mobile web modifications --- */
@media (min-width: 320px) and (max-width: 736px) {
  .welcome-banner {
  	margin-top: 375px;
  }
}
